<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>This is a project template</h1>

    <h1>Make A Tamagotchi</h1>
<form action="/Tam" method="post">
  <label for="new-tam">Name Your Tamagotchi</label>
  <input id="new-tam" name="new-tam" type="text">
  <button type="submit">Create</button>
</form>

  </body>
</html>
